{% if settings.enable_shipping_bar %}
  {% assign threshold = settings.shipping_threshold | times: 1.0 %}
  {% assign threshold_in_cents = threshold | times: 100.0 %}
  {% assign remaining_amount = threshold_in_cents | minus: cart.total_price %}
  {% assign percentage = cart.total_price | divided_by: threshold %}

  {% if percentage > 100 %}
    {% assign percentage = 100 %}
  {% endif %}

  <div class="py-10 text-center bg-mint">
    {% if cart.total_price < threshold_in_cents %}
      <p class="text-sh2 uppercase">You're {{ remaining_amount | money_without_trailing_zeros }} away from free shipping</p>
    {% else %}
      <p class="text-sh2 uppercase">You have free shipping!</p>
    {% endif %}
  </div>
  <div class="h-[3px] bg-black/10 relative">
    <div class="absolute top-0 left-0 bottom-0 bg-black" style="width: {{ percentage }}%;"></div>
  </div>
{% endif %}