<site-credits>
  <div class="site-credits py-40 px-20 flex justify-between gap-10 fixed right-0 bottom-0 left-0 bg-mint z-40 transition-visibility ease-in-out aria-hidden:opacity-0 aria-hidden:invisible md:px-40" aria-hidden="true">
    <div class="flex flex-col gap-10 text-body-2 md:flex-row md:gap-40">
      <span>
        Design by 
        <a class="underline" href="https://www.lustre.nyc/" target="_blank">Lustre</a>
      </span>
      <span>
        Development by
        <a class="underline" href="https://cardinalco.agency/" target="_blank">Cardinal & Co.</a>
      </span>
    </div>
    <div class="flex items-center gap-20">
      <button data-close-credits>
        {% render 'icon' icon: 'close' %}
        <span class="hidden visually-hidden">Close</span>
      </button>
    </div>
  </div>
</site-credits>