<a href="{{ link }}" class="group/text-link py-13 inline-block text-cta uppercase relative {{ classes }}">
  {{ label }}
  <div class="absolute left-0 right-0 bottom-0 border-b-1 border-current transition-position group-hover/text-link:bottom-5"></div>
</a>