
.swym-storefront-layout-layout {
    --swym-storefront-layout-color-text-default: #000 !important;
    --swym-storefront-layout-notification-neutral-text-color: #302e2d !important;
    --swym-storefront-layout-color-text-sub2: #000 !important;
    --swym-storefront-layout-color-text-sub: #302e2d !important;
    --swym-storefront-layout-font-size-text: 11px !important;
    --swym-storefront-layout-font-size-sub-text: 11px !important;
}

.swym-storefront-layout-notification-container {
    font-weight: 500 !important;
}

.swym-storefront-layout-root-component button,
swym-storefront-layout-login-user .swym-storefront-layout-login-button,
.swym-storefront-layout-empty-sfl-view-cart-button,
.swym-ui-component .swym-is-button {
    font-weight: 500 !important;
    font-size: 11px !important;
    letter-spacing: 0.06em !important;
    text-transform: uppercase !important;
    font-family: "elza-text", sans-serif !important;
    outline: none !important;
    border-radius: 0 !important;
    line-height: 100% !important;
}

swym-storefront-layout-login-user .swym-storefront-layout-login-button,
.swym-ui-component .swym-is-button.swym-sfl-popup-save-btn {
  color: #fffcf9 !important;
}

.swym-storefront-layout-notification-message {
    font-weight: 500 !important;
    font-size: 14px !important;
}

.swym-storefront-layout-login-heading,
.swym-storefront-layout-grid-item-title,
.swym-storefront-layout-action-title,
.swym-storefront-layout-collection-title,
.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-title,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item .swym-sfl-list-item-title {
    font-family: "richmond-display", serif !important;
    font-size: 18px !important;
    line-height: 122% !important;
    letter-spacing: 0 !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    margin: 0 !important;
    color: #000 !important;
}

.swym-storefront-layout-container::-webkit-scrollbar-track,
.swym-storefront-layout-body::-webkit-scrollbar-track {
    background-color: trbansparent;
}

div#swym-storefront-layout-collection-grid-item-option-button {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px !important;
}

.swym-ui-component div.swym-modal.swym-share-wishlist-modal {
    z-index: 1000000001 !important;
}

#swym-storefront-layout-collection-grid-item-option-button svg {
    margin: 0 !important;
}

.swym-storefront-layout-create-collection-name-form-group {
    padding-left: 0 !important;
}

.swym-storefront-layout-container::-webkit-scrollbar,
.swym-storefront-layout-body::-webkit-scrollbar {
	width: 6px;
    background-color: trbansparent;
}

.swym-storefront-layout-container::-webkit-scrollbar-thumb,
.swym-storefront-layout-body::-webkit-scrollbar-thumb {
	background-color: #302e2d;
}

#swym-storefront-layout-collection-option-button.swym-single-share-wishlist-btn,
.swym-storefront-layout-title,
.swym-storefront-layout-tab-button.swym-storefront-layout-tab-button-active,
.swym-storefront-layout-notification-title,
.swym-storefront-layout-notification-message,
.swym-storefront-layout-login-heading,
.swym-storefront-layout-login-description,
.swym-ui-component .swym-sfl-popup-dialog.swym-control-centre-mode .swym-cc-sfl-popup-action-container>div .swym-cc-sfl-popup-content p,
.swym-storefront-layout-total-list-items-count,
.swym-ui-component .swym-wishlist-main-title.swym-heading.swym-heading-1, 
h3.swym-empty-wishlist-title.swym-heading.swym-heading-1,
p.swym-empty-wishlist-text.swym-text.swym-text-1, 
.swym-clear-wishlist-modal-dialog h2.swym-text-heading.swym-heading.swym-heading-1, 
.swym-ui-component .swym-text-content.swym-text.swym-text-1, 
.swym-save-wishlist-modal-dialog h2.swym-text-heading.swym-heading.swym-heading-1, 
.swym-ui-component .swym-text-content.swym-text.swym-text-1, 
.swym-ui-component .swym-text-content.swym-text.swym-text-1, 
.swym-text-content.swym-text.swym-text-1, 
.swym-text-content.swym-text.swym-text-1 > span.swym-color-2, 
.swym-ui-component .swym-wishlist-list-card .swym-wishlist-name, 
.swym-ui-component .swym-wishlist-list-card .swym-wishlist-product-count, 
.swym-ui-component .swym-wishlist-list-card .swym-empty-wishlist-list, 
.swym-ui-component .swym-wishlist-selector-dropdown .swym-selected-wishlist-container .swym-selected-wishlist-label, 
.swym-ui-component .swym-wishlist-selector-dropdown .swym-selected-wishlist-container .swym-selected-wishlist-name, 
.swym-ui-component .swym-add-wishlist-modal .swym-modal-content .swym-wishlist-item .swym-icon::before, 
.swym-ui-component .swym-add-wishlist-modal .swym-modal-content .swym-new-wishlist-item .swym-icon::before, 
.swym-ui-component .swym-add-wishlist-modal .swym-modal-content .swym-wishlist-item, 
.swym-ui-component .swym-add-wishlist-modal .swym-modal-content .swym-new-wishlist-item, 
.swym-ui-component .swym-wishlist-context-menu .swym-wishlist-context-menu-item, 
.swym-ui-component .swym-add-wishlist-modal .swym-modal-content .swym-wishlist-items-title, 
.swym-ui-component .swym-add-wishlist-modal .swym-modal-content .swym-product-name, 
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-close-btn, 
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-close-btn, 
.swym-ui-component .swym-share-wishlist-login-modal .swym-share-wishlist-login-modal-dialog .swym-close-btn, 
.swym-ui-component .swym-duplicate-wishlist-modal .swym-duplicate-wishlist-modal-dialog .swym-close-btn, 
.swym-ui-component .swym-wishlist-selector-dropdown .swym-wishlist-item, 
.swym-wishlist-search-list .swym-no-results, 
.swym-share-wishlist-modal-dialog h2.swym-text-heading.swym-heading.swym-heading-1, 
.swym-ui-component.swym-wishlist-page .swym-wishlist-detail .swym-action-bar .swym-back-btn, 
.swym-ui-component .swym-action-bar .swym-back-btn, 
.swym-ui-component .swym-share-wishlist-login-modal .swym-share-wishlist-login-modal-dialog .swym-message-content, 
.swym-ui-component .swym-share-wishlist-login-modal .swym-share-wishlist-login-modal-dialog .swym-text-heading, 
.swym-duplicate-wishlist-modal-dialog h2.swym-text-heading.swym-heading.swym-heading-1, 
.swym-ui-component .swym-wishlist-list-header .swym-heading.swym-heading-1, 
.swym-ui-component .swym-htc-tabs .swym-htc-tab-item, 
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-list-heading .swym-sfl-title, 
.swym-ui-component .swym-simple-wishlist-container .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-list-heading .swym-sfl-title, 
.swym-ui-component .swym-sfl-list-empty-content .swym-sfl-list-empty-text, 
.swym-ui-component .swym-sfl-list-empty-content .swym-sfl-list-empty-text2, 
.swym-sfl-action-button .swym-share-sfl-btn, 
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-input-container .swym-share-wishlist-name, 
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-input-container .swym-share-wishlist-email, 
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-input-container .swym-share-wishlist-note, 
.swym-ui-component .swym-duplicate-wishlist-modal .swym-duplicate-wishlist-modal-dialog .swym-duplicate-wishlist-input-container .swym-duplicate-list-name, 
.swym-ui-component .swym-wishlist-selector-dropdown .swym-wishlist-input, 
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-save-list .swym-input, 
.swym-ui-component .swym-add-wishlist-modal .swym-modal-content .swym-new-wishlist-item .swym-new-wishlist-name, 
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-input-container .swym-input-label, 
.swym-share-wishlist-input-container .swym-text-md.swym-info-grey, 
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-save-list .swym-input-label, 
.swym-save-list .swym-text-md.swym-info-grey {
    color: #302e2d !important;
}

swym-storefront-layout-as-drawer .swym-storefront-layout-layout {
    border-radius: 0 !important;
}

.swym-ui-component .swym-sfl-popup-dialog.swym-control-centre-mode .swym-cc-sfl-popup-action-container>div .swym-cc-sfl-popup-content p {
    font-family: "elza-text", sans-serif !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: 0.04em !important;
    margin-bottom: 5px !important;
}

.swym-ui-component .swym-sfl-popup-dialog.swym-control-centre-mode .swym-cc-sfl-popup-action-container>div .swym-cc-sfl-popup-content h3,
.swym-storefront-layout-empty-sfl-title {
    font-weight: 500 !important;
}

.swym-ui-component .swym-sfl-popup-dialog .swym-close-btn {
    top: 10px !important;
}

.swym-ui-component .swym-sfl-popup-mobile {
    margin-top: 15px !important;
}

.swym-ui-component .swym-sfl-popup-mobile button {
    border: 1px solid !important;
}

.swym-storefront-layout-grid-item-add-to-cart-button,
.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-add-to-cart-btn,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item .swym-sfl-add-to-cart-btn {
    padding: 11px var(--swym-p-space-300) !important; 
}

.swym-storefront-layout-layout .swym-storefront-layout-close-button {
    height: 20px !important;
}

quick-view .swym-btn-container .swym-button {
    background: transparent !important;
    outline: none !important;
    opacity: 1 !important;
}

quick-view  .swym-button-bar {
    margin: 0 !important;
}

.swym-button.swym-add-to-wishlist-view-product.swym-heart:after,
quick-view .swym-button.swym-add-to-wishlist.swym-heart:after {
    display: none !important;
}

.swym-button.swym-add-to-wishlist-view-product.swym-heart:not(.swym-added) svg + svg,
quick-view .swym-button.swym-add-to-wishlist.swym-heart:not(.swym-added) svg + svg {
    display: none !important;
}

.swym-button.swym-add-to-wishlist-view-product.swym-heart.swym-added svg,
quick-view .swym-button.swym-add-to-wishlist.swym-heart.swym-added svg {
    display: none !important;
}

.swym-button.swym-add-to-wishlist-view-product.swym-heart.swym-added svg + svg,
quick-view .swym-button.swym-add-to-wishlist.swym-heart.swym-added svg + svg {
    display: block !important;
}

.atw-button {
    line-height: 1 !important;
    transform: none !important;
}

.swym-wishlist-button-bar,.swym-btn-container.swym-inject,
button.swym-button.swym-add-to-wishlist.swym-inject {
    width:100% !important;
}

button.swym-button.swym-add-to-wishlist.swym-inject {
    background-color: #302e2d !important;
    color: #fffcf9 !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    letter-spacing: 0.1em !important;
    text-transform: uppercase !important;
    font-family: "elza-text", sans-serif !important;
    height: auto !important;
    line-height: 1.2 !important;
    padding: 15px 14px !important;
    outline: none !important;
    opacity: 1 !important;
}

.swym-btn-container[data-position=default] .swym-add-to-wishlist.swym-icontext {
  text-indent: 0 !important;
}

button.swym-button.swym-add-to-wishlist.swym-inject:hover {
  background-color: #fffcf9 !important;
  color: #302e2d !important;
}

.swym-btn-container .swym-button.swym-added *:not(.swym-tooltip) {
    opacity: 1 !important;
}

.swym-wishlist-button-bar{
    margin-top: 15px !important;
}

.swym-btn-container .swym-add-to-wishlist.swym-heart:after {
    display: none !important;
}

.swym-storefront-layout-notification-container {
    background: #fff !important;
}

.swym-ui-component .swym-sfl-popup-dialog.swym-control-centre-mode .swym-cc-sfl-popup-action-container>div figure {
    height: 100% !important;
}

.swym-storefront-layout-layout {
    background: #FFFCF9 !important;
}

.swym-storefront-layout-header {
    height: auto !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    display: block !important;
}

.swym-storefront-layout-tab-container {
    padding: 50px 60px 45px !important;
}

.swym-storefront-layout-as-modal .swym-storefront-layout-body {
    padding: 0 !important;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

swym-storefront-layout-as-modal .swym-storefront-layout-layout {
    max-width: 878px !important;
    border-radius: 0 !important;
    width: 95% !important;
}

.swym-storefront-layout-close-button {
    background: transparent !important;
    right: 15px !important;
    top: 15px !important;
}

.swym-storefront-layout-layout .swym-storefront-layout-close-button svg path {
    fill: transparent;
}

.swym-storefront-layout-layout .swym-storefront-layout-close-button svg path + path {
    fill: #302E2D !important;
}

.swym-storefront-layout-title {
    font-family: "richmond-display", serif !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    line-height: 120% !important;
    letter-spacing: 0% !important;
    text-transform: capitalize !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #F3ECE5 !important;
    margin-bottom: 20px !important;
}

.swym-storefront-layout-empty-wishlist-title,
.swym-ui-component .swym-empty-wishlist-container .swym-empty-wishlist-title {
    font-family: "elza-text", sans-serif !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: 6% !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: #302E2D !important;
}

.swym-ui-component .swym-empty-wishlist-container .swym-empty-wishlist-title {
    margin: 0 !important;
}

.swym-storefront-layout-empty-wishlist-content svg {
    display: none !important;
}

.swym-storefront-layout-empty-container,
.swym-storefront-layout-empty-wishlist-content {
    padding: 0 !important;
}

.swym-storefront-layout-empty-wishlist-container {
    margin-bottom: 0 !important;
}

.swym-storefront-layout-empty-wishlist-description,
.swym-ui-component .swym-empty-wishlist-container .swym-empty-wishlist-text {
    font-family: "elza-text", sans-serif !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: 0.04em !important;
    text-align: center !important;
    margin: 30px 0 !important;
    color: #302E2D !important;
}

.swym-ui-component .swym-empty-wishlist-container .swym-empty-wishlist-continue-btn {
    margin: 0 !important;
    font-family: "elza-text", sans-serif !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: 6% !important;
    text-transform: uppercase !important;
    color: #FFFFFF !important;
    background: #302E2D !important;
    width: 100%;
    text-align: center;
}

.swym-storefront-layout-variant {
    font-family: "elza-text", sans-serif !important;
}

/* swym-storefront-layout-tabs, */
.swym-storefront-layout-title svg,
.swym-storefront-layout-total-list-items-count {
    display: none;
}

#swym-storefront-layout-collection-option-button.swym-single-share-wishlist-btn,
#swym-storefront-layout-collection-option-button {
    display: none !important;
}

swym-storefront-layout-default-wishlist {
    width: 100%;
}

swym-storefront-layout #swym-storefront-layout-items-container {
    column-gap: 10px !important;
    row-gap: 16px !important;
    
}

.swym-storefront-layout-as-modal .swym-storefront-layout-grid-item-image-container,
.swym-ui-component .swym-wishlist-grid .swym-wishlist-image-wrapper,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item .swym-sfl-image-wrapper {
    height: 216px !important;
}

.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item .swym-product-final-price {
    font-size: inherit !important;
}

.swym-storefront-layout-grid-item-content {
    margin-top: 9px;
}

.swym-storefront-layout-grid-item {
    gap: 10px !important;
}

.swym-storefront-layout-grid-item-content {
    gap: 9px !important;
}

.swym-storefront-layout-grid-item-final-price,
.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-product-price,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item .swym-sfl-price {
    font-family: "elza-text", sans-serif !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: 0.06em !important;
    text-transform: uppercase !important;
    color: #212121 !important;
    margin: 0 !important;
}

.swym-storefront-layout-variant {
    padding: 0 !important;
    margin-right: 0 !important;
}

.swym-storefront-layout-grid-item-image-container,
.swym-storefront-layout-as-modal img.swym-storefront-layout-grid-item-image {
    border-radius: 0 !important;
}

.swym-ui-component.swym-wishlist-page {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 40px !important;
    padding-bottom: 100px !important;
    background: #FFFCF9 !important;
    max-width: 970px !important;
}

div#swym-wishlist-render-container,
.swym-ui-component .swym-wishlist-grid .swym-wishlist-item {
    background: #FFFCF9 !important;
}

.swym-ui-component .swym-wishlist-detail-content,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid {
    margin-top: 23px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.swym-ui-component .swym-empty-wishlist-container {
    padding: 120px 30px 0 !important;
    max-width: 519px;
    margin: 0 auto;
}

.swym-ui-component .swym-wishlist-detail-header,
.swym-ui-component div:empty {
    display: none !important;
}

.swym-ui-component.swym-wishlist-page::before {
    content: "Wishlist";
    font-family: "richmond-display", serif !important;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
}

.swym-ui-component.swym-wishlist-page .swym-wishlist-container-title-bar .swym-wishlist-main-title,
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-text-heading,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-list-heading .swym-sfl-title {
    font-family: "richmond-display", serif !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    line-height: 128% !important;
    letter-spacing: 0% !important;
}

.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-input-container .swym-input-label {
    font-weight: bold !important;
    margin-bottom: 5px !important;
    display: block;
}

.swym-ui-component .swym-delete-btn .swym-icon::before {
    color: #000 !important;
    font-size: 11px !important;
    content: "" !important;
}

.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog,
.swym-ui-components .swym-input, .swym-ui-component .swym-input {
    background: #FFFCF9 !important;
}

.swym-ui-component.swym-wishlist-page .swym-wishlist-container-title-bar {
    padding: 54px 0 26px !important;
    border-color: #F3ECE5 !important;
}

.swym-ui-component .swym-htc-tabs .swym-htc-tab-item.swym-selected {
    background: #F3ECE5 !important;
    color: #000 !important;
}

.swym-ui-component .swym-htc-tabs {
    border-color: #F3ECE5 !important;
}

.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid,
.swym-ui-component .swym-wishlist-grid {
    max-width: 100% !important;
    gap: 20px !important;
}

.swym-ui-component .swym-wishlist-grid {
    padding: 0 !important;
}

.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item,
.swym-ui-component .swym-wishlist-grid li {
    width: calc(25% - 15px) !important;
    margin: 0 !important;
}

.swym-ui-component .swym-user-login-status {
    font-family: "elza-text", sans-serif !important;
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: 0.06em !important;
    text-transform: uppercase !important;
}

.swym-ui-component .swym-user-login-status .swym-user-text {
    text-transform: uppercase !important;
    display: block !important;
}

.swym-ui-component .swym-user-login-status.swym-has-user::before {
    display: none !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-add-to-cart-btn {
    margin: 0 !important;
}

.swym-ui-component .swym-simple-wishlist-container .swym-wishlist-container-title-bar .swym-wishlist-main-title {
    display: block !important;
}

.swym-ui-component .swym-wishlist-container-title-bar {
    height: auto !important;
}

.swym-ui-component .swym-simple-wishlist-container .swym-wishlist-container-title-bar .swym-user-login-status {
    position: relative !important;
    top: 0 !important;
    z-index: 3 !important;
    right: 0 !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item {
    gap: 9px;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-variant-title {
    margin: 0 !important;
    white-space: normal !important;
    text-overflow: unset !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-title,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item .swym-sfl-list-item-title {
    white-space: normal !important;
    text-overflow: unset !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-product-price,
.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item .swym-sfl-price {
    padding: 0 !important;
}

.swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item, .swym-ui-component .swym-simple-wishlist-container .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item {
    background-color: transparent !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-variant-title,
.swym-storefront-layout-variant {
    font-family: "elza-text", sans-serif !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: 0.04em !important;
    color: #212121 !important;
}

.swym-ui-component .swym-sfl-list-heading .swym-sfl-action-button .swym-sfl-add-all-to-cart-btn {
    font-weight: 500 !important;
    font-size: 11px !important;
    letter-spacing: 0.06em !important;
    text-transform: uppercase !important;
    font-family: "elza-text", sans-serif !important;
    outline: none !important;
    border-radius: 0 !important;
    line-height: 100% !important;
    padding: 11px var(--swym-p-space-300) !important;
    border: none !important;
}

.swym-storefront-layout-login-user-container {
    background: #fffcf9 !important;
}

@media (min-width: 768px) {

    swym-storefront-layout-as-modal #swym-storefront-layout-items-container {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    /* swym-storefront-layout-as-modal #swym-storefront-layout-items-container swym-storefront-layout-item {
        width: calc(25% - 15px);
    } */

    swym-storefront-layout #swym-storefront-layout-items-container {
        gap: 20px !important;
    }

    .swym-ui-component.swym-wishlist-page {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

}

@media only screen and (max-width: 900px) {

    .swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-list-heading .swym-sfl-action-button {
        justify-content: center !important;
    }

}


@media only screen and (max-width: 767px) {

    .swym-storefront-layout-tab-container {
        padding: 52px 9.5px 37px !important;
    }

    swym-storefront-layout-as-modal #swym-storefront-layout-items-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    /* swym-storefront-layout-as-modal #swym-storefront-layout-items-container swym-storefront-layout-item {
        width: calc(50% - 5px);
    } */

    .swym-storefront-layout-title {
        font-size: 24px !important;
        padding-bottom: 16px !important;
        margin-bottom: 16px !important;
    }

    .swym-storefront-layout-login-heading, .swym-storefront-layout-grid-item-title, .swym-storefront-layout-action-title, .swym-storefront-layout-collection-title, 
    .swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-title, .swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item .swym-sfl-list-item-title {
        font-size: 16px !important;
        line-height: 125% !important;
    }

    .swym-storefront-layout-grid-item-content {
        margin-top: 5px;
    }

    .swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid, .swym-ui-component .swym-wishlist-grid {
        /* column-gap: 10px !important; */
    }

    .swym-ui-component.swym-wishlist-page {
        padding-top: 20px !important;
        padding-bottom: 64px !important;
    }

    .swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-layout-grid .swym-sfl-card-product-item, .swym-ui-component .swym-wishlist-grid li {
        width: calc(50% - 10px) !important;
    }

    .swym-ui-component.swym-wishlist-page .swym-wishlist-container-title-bar .swym-wishlist-main-title, .swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-text-heading, .swym-ui-component.swym-wishlist-page .swym-sfl-tab-container .swym-sfl-list-view .swym-sfl-list-heading .swym-sfl-title {
        font-size: 18px !important;
        line-height: 110% !important;
    }

    .swym-ui-component .swym-user-login-status {
        font-size: 12px !important;
        line-height: 180% !important;
        letter-spacing: 0.02em !important;
    }

}

@media only screen and (max-width: 700px) {

    .swym-ui-component .swym-sfl-popup-dialog.swym-control-centre-mode .swym-cc-sfl-popup-action-container>div figure img {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}


/* Footer Newsletter Klaviyo Form CSS Start */

.klaviyo-form-VDFXsT {
    text-align: left;   
    margin-top: 30px;
}
  
[data-testid="klaviyo-form-VDFXsT"] [data-testid="form-row"] {
    overflow: hidden;
    border: 0 !important;
    align-items: center !important;
    border-color: rgb(247 244 239 ) !important;
    border-bottom-width: 1px !important;
    border-style: solid !important;
}
  
[data-testid="klaviyo-form-VDFXsT"] [data-testid="form-row"] [data-testid="form-component"] input::placeholder,
[data-testid="klaviyo-form-VDFXsT"] [data-testid="form-row"] [data-testid="form-component"] input::-webkit-input-placeholder {
    color: rgb(247 244 239 / 50%) !important;
    font-family: "elza-text", sans-serif !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: .04em !important;
    font-weight: 400 !important;
}

[data-testid="klaviyo-form-VDFXsT"] [data-testid="form-row"] [data-testid="form-component"] input {
    text-align: left !important;
    height: auto !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;    
    color: rgba(255, 252, 249, 0.5) !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: .04em !important;
    font-weight: 400 !important;
    font-family: "elza-text", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 0 !important;
    background-color: transparent !important;
    width: 100% !important;
}

[data-testid="klaviyo-form-VDFXsT"] > div {
    min-height: auto !important;
}

[data-testid="klaviyo-form-VDFXsT"] [data-testid="form-row"] [data-testid="form-component"] button[type="button"] {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    text-transform: uppercase !important;
    color: #FFFCF9 !important;
    font-family: "elza-text", sans-serif !important;
    border-radius: 0 !important;
    padding: 0 !important;
    font-weight: 500 !important;
    background: transparent !important;
    font-size: 11px !important;
    line-height: 120% !important;
    letter-spacing: .1em !important;
    text-transform: uppercase !important;
    border: none !important;
}

[data-testid="klaviyo-form-VDFXsT"] h1,
[data-testid="klaviyo-form-VDFXsT"] h1 span {
    margin: 0 !important;
    position: relative !important;;
    padding: 10px 0 !important;
    display: inline-block !important;
    font-size: 12px !important;
    line-height: 180% !important;
    letter-spacing: .04em !important;
    font-weight: 400 !important;  
    color: #FFFCF9 !important;
    font-family: "elza-text", sans-serif !important;
    text-align: left !important;
}

[data-testid="klaviyo-form-VDFXsT"] h1 span {
    padding: 0 !important;
}

/* Footer Newsletter Klaviyo Form CSS End */

/* Popup Newsletter Klaviyo Form CSS start */

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] .kl-private-reset-css-Xuajs1 {
    min-height: auto !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] > div.needsclick.kl-private-reset-css-Xuajs1:first-child {
    padding: 22px 0 22px 20px !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] > div.needsclick.kl-private-reset-css-Xuajs1:nth-child(2) {
  justify-content: flex-end !important;
  padding-bottom: 7px !important;
}

a[aria-label="Created with Klaviyo - opens in a new tab"] {
    display: none !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] h2 span {
    font-style: normal !important;
    font-family: "richmond-display", serif !important;
    font-size: 40px !important; 
    font-weight: 400 !important;
    line-height: 120% !important;
    letter-spacing: 0 !important;
    text-align: left !important;
    color: #302E2D !important;
    max-width: 345px !important;
    width: 100%;
    display: inline-block;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"]  p {
    max-width: 380px !important;
    margin-left: 0;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"]  p span {
    font-family: "elza-text", sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 180% !important;
    letter-spacing: 0.04em !important;
    text-align: left !important;
    color: #302E2D !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] span {
    font-family: "elza-text", sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 180% !important;
    letter-spacing: 0.04em !important;
    text-align: left !important;
    color: #302E2D !important;
}


[data-testid="klaviyo-form-SkbXbB"] [data-testid="form-row"]:nth-child(3) {
    overflow: hidden;
    border: 0 !important; 
    align-items: center !important;
    border-color: #302E2D !important;
    border-bottom-width: 1px !important;
    border-style: solid !important;
    display: flex !important;
}

[data-testid="klaviyo-form-SkbXbB"] [data-testid="form-row"]:nth-child(3) > div:first-child {
    max-width: calc(100% - 100px) !important;
}

[data-testid="klaviyo-form-SkbXbB"] [data-testid="form-row"]:nth-child(3) > div:last-child {
    max-width: 100px !important;
    display: flex !important;
    justify-content: flex-end !important;
}

[data-testid="klaviyo-form-SkbXbB"] [data-testid="form-row"] [data-testid="form-component"] input::placeholder,
[data-testid="klaviyo-form-SkbXbB"] [data-testid="form-row"] [data-testid="form-component"] input::-webkit-input-placeholder {
    color: #302E2D !important;
    font-family: "elza-text", sans-serif !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: .06em !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] input[type=email] {
    text-align: left !important;
    height: auto !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;    
    color: #302E2D !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: .06em !important;
    font-weight: 500 !important;
    font-family: "elza-text", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 0 !important;
    background-color: transparent !important;
    width: 100% !important;
    text-transform: lowercase !important;
}

.kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] button[type=button] {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    text-transform: uppercase !important;
    color: #302E2D !important;
    font-family: "elza-text", sans-serif !important;
    border-radius: 0 !important;
    padding: 0 !important;
    font-weight: 500 !important;
    background: transparent !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: .06em !important;
    text-transform: uppercase !important;
    border: none !important;
}

.needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] [aria-label="Close dialog"] {
    right: 10px !important;
    top: 10px !important;
}


@media screen and (max-width: 575px) {
    
    .kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] {
        display: flex !important;
        flex-direction: column !important;
        max-width: 100% !important;
        width: 100% !important;
        min-width: 100% !important;
        padding: 0 !important;
        border-radius: 0 !important; 
    }

    .kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] > div.needsclick.kl-private-reset-css-Xuajs1:first-child {
        padding: 40px 40px 20px 30px !important;
        margin: 0 !important;
        width: calc(100% - 70px) !important;
    }

    .kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] > div.needsclick.kl-private-reset-css-Xuajs1:nth-child(2) {
        width: calc(100% - 60px) !important;
        padding: 0 30px 50px !important;
    }

    .kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] > div.needsclick.kl-private-reset-css-Xuajs1:first-child img {
        max-height: 173px;
        display: block;
        overflow: hidden;
    }

    [data-testid="klaviyo-form-SkbXbB"] [data-testid="form-row"]:nth-child(3) > div:first-child,
    [data-testid="klaviyo-form-SkbXbB"] [data-testid="form-row"]:nth-child(3) > div:last-child {
        padding-top: 10px !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] {
        max-height: unset !important;
        transform: unset !important;
        width: calc(100% - 40px) !important;
        left: unset !important;
        margin: 0 auto !important;
        right: unset !important;
        margin: 0 20px !important;
        bottom: 20px !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] [data-testid="FLYOUT"] > .kl-private-reset-css-Xuajs1::before {
        display: none !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] [data-testid="FLYOUT"] > .kl-private-reset-css-Xuajs1 {
        margin: 0 !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] > .kl-private-reset-css-Xuajs1 {
        width: 100% !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] [aria-label="Close dialog"] {
        margin-right: 4px !important;
        margin-top: 4px !important;
        width: 25px !important;
        height: 25px !important;
    }

    .needsclick.kl-private-reset-css-Xuajs1[aria-label="FLYOUT Form"] [aria-label="Close dialog"] svg {
        width: 25px !important;
        height: 25px !important;
    }

    .kl-private-reset-css-Xuajs1 [data-testid=klaviyo-form-SkbXbB] h2 span {
        font-size: 24px !important;
        line-height: 120% !important;
        letter-spacing: 0 !important;
        font-weight: 400 !important;
    }

    .kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] p span {
        font-size: 12px !important;
        letter-spacing: 0.02em !important;
    }

    .kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] input[type=email],
    .kl-private-reset-css-Xuajs1 [data-testid="klaviyo-form-SkbXbB"] button[type=button] {
        letter-spacing: 0.10em !important;
        font-weight: 500 !important;
    }

}

/* Popup Newsletter Klaviyo Form CSS end */