<div class="page-width">
  <h1 class="mt-60 mb-40 text-m-h1 font-serif italic text-center md:mb-60 md:text-h1">My Addresses</h1>
</div>

<div class="px-20 border-b-1 border-mint overflow-scroll no-scrollbar md:px-40">
  <div class="w-fit mx-auto flex items-center gap-40">
    <a href="{{ routes.account_url }}" class="group/link py-13 block text-cta uppercase relative whitespace-nowrap" data-tab="addresses">
      Back to Account
      <span class="absolute left-0 right-0 bottom-0 border-b-1 border-transparent transition-colors group-[.active]/link:border-black group-hover/link:border-black"></span>
    </a>
    <a href="{{ routes.account_logout_url }}" class="group/link py-13 block text-cta uppercase relative whitespace-nowrap" data-tab="orders">
      Logout
      <span class="absolute left-0 right-0 bottom-0 border-b-1 border-transparent transition-colors group-[.active]/link:border-black group-hover/link:border-black"></span>
    </a>
  </div>
</div>

<div class="page-width">
  <div class="max-w-custom w-full mx-auto my-60 md:mt-60" style="--width: 890px;">
    <div class="adresses-page__container" data-customer-addresses>
      {% render 'addresses' %}
    </div>
  </div>
</div>