<div class="sitemap">
  <div class="page-width my-60 text-center md:mt-100 md:mb-70">
    <h1 class="text-m-h1 font-serif md:text-h2">{{ section.settings.title }}</h1>
  </div>
  <div class="page-width mt-40 mb-60 md:my-80">
    <div class="max-w-custom w-full mx-auto grid gap-x-30 gap-y-40 sm:grid-cols-2 md:grid-cols-4 md:gap-y-60 lg:grid-cols-5" style="--width: 960px;">
      {% for link in section.settings.menu.links %}
        <div class="text-center sm:text-left">
          <h2 class="mb-15 text-m-sh2 uppercase md:text-sh2">{{ link.title }}</h2>
          <ul class="flex flex-col gap-5" role="list">
            {% for child_link in link.links %}
              <li>
                <a href="{{ child_link.url }}" class="text-body-4 opacity-50 transition-opacity hover:opacity-100">{{ child_link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Sitemap",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Sitemap"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}